/* GRID */

.o-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  max-width: var(--grid--max-width);
  margin-right: auto;
  margin-left: auto;
  padding-left: calc(var(--grid--gutter) / 2);
  padding-right: calc(var(--grid--gutter) / 2);
}

.o-grid__col {
  position: relative;
  display: inline-block;
  padding-left: calc(var(--grid--gutter) / 2);
  padding-right: calc(var(--grid--gutter) / 2);
}
