/* ANIMATIONS */

.u-anim-fill--for { animation-fill-mode: forwards; }
.u-anim-fill--back { animation-fill-mode: backwards; }
.u-anim-fill--both { animation-fill-mode: both; }

.u-anim-dur--04 { animation-duration: 0.4s; }
.u-anim-dur--08 { animation-duration: 0.8s; }
.u-anim-dur--12 { animation-duration: 1.2s; }

.u-anim-dly--02 { animation-delay: 0.2s; }
.u-anim-dly--03 { animation-delay: 0.3s; }
.u-anim-dly--04 { animation-delay: 0.4s; }
.u-anim-dly--05 { animation-delay: 0.5s; }
.u-anim-dly--06 { animation-delay: 0.6s; }
.u-anim-dly--07 { animation-delay: 0.7s; }
.u-anim-dly--08 { animation-delay: 0.8s; }

.u-anim-count--inf { animation-iteration-count: infinite; }

.u-anim--fadeIn { animation-name: fadeIn; }
.u-anim--fadeOut { animation-name: fadeOut; }
.u-anim--fadeInDown { animation-name: fadeInDown; }
.u-anim--fadeInLeft { animation-name: fadeInLeft; }
.u-anim--fadeInRight { animation-name: fadeInRight; }
.u-anim--fadeInUp { animation-name: fadeInUp; }
.u-anim--fadeOutDown { animation-name: fadeOutDown; }
.u-anim--fadeOutLeft { animation-name: fadeOutLeft; }
.u-anim--fadeOutRight { animation-name: fadeOutRight; }
.u-anim--fadeOutUp { animation-name: fadeOutUp; }

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeInDown {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, -96px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-96px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(96px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 96px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 96px, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-32px, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(32px, 0, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -96px, 0);
  }
}
