/* COLOR */

.u-c--primary { color: var(--color--primary); }
.u-c--secondary { color: var(--color--secondary); }
.u-c--subtle { color: var(--color--subtle); }
.u-c--subtle-light { color: var(--color--subtle-light); }
.u-c--light { color: var(--color--light); }
.u-c--success { color: var(--color--success); }
.u-c--warning { color: var(--color--warning); }
.u-c--error { color: var(--color--error); }

.u-bg--primary { background-color: var(--color--primary); }
.u-bg--secondary { background-color: var(--color--secondary); }
.u-bg--subtle { background-color: var(--color--subtle); }
.u-bg--subtle-light { background-color: var(--color--subtle-light); }
.u-bg--light { background-color: var(--color--light); }
.u-bg--success { background-color: var(--color--success); }
.u-bg--warning { background-color: var(--color--warning); }
.u-bg--error { background-color: var(--color--error); }
