/* PUSH */

.u-push--01 { margin-left: var(--span--01); }
.u-push--02 { margin-left: var(--span--02); }
.u-push--03 { margin-left: var(--span--03); }
.u-push--04 { margin-left: var(--span--04); }
.u-push--05 { margin-left: var(--span--05); }
.u-push--06 { margin-left: var(--span--06); }
.u-push--07 { margin-left: var(--span--07); }
.u-push--08 { margin-left: var(--span--08); }
.u-push--09 { margin-left: var(--span--09); }
.u-push--10 { margin-left: var(--span--10); }
.u-push--11 { margin-left: var(--span--11); }
.u-push--12 { margin-left: var(--span--12); }

@media (--bp-min--sm) {
  .u-push--01sm[class*="u-push--"] { margin-left: var(--span--01); }
  .u-push--02sm[class*="u-push--"] { margin-left: var(--span--02); }
  .u-push--03sm[class*="u-push--"] { margin-left: var(--span--03); }
  .u-push--04sm[class*="u-push--"] { margin-left: var(--span--04); }
  .u-push--05sm[class*="u-push--"] { margin-left: var(--span--05); }
  .u-push--06sm[class*="u-push--"] { margin-left: var(--span--06); }
  .u-push--07sm[class*="u-push--"] { margin-left: var(--span--07); }
  .u-push--08sm[class*="u-push--"] { margin-left: var(--span--08); }
  .u-push--09sm[class*="u-push--"] { margin-left: var(--span--09); }
  .u-push--10sm[class*="u-push--"] { margin-left: var(--span--10); }
  .u-push--11sm[class*="u-push--"] { margin-left: var(--span--11); }
  .u-push--12sm[class*="u-push--"] { margin-left: var(--span--12); }
}

@media (--bp-min--md) {
  .u-push--01md[class*="u-push--"] { margin-left: var(--span--01); }
  .u-push--02md[class*="u-push--"] { margin-left: var(--span--02); }
  .u-push--03md[class*="u-push--"] { margin-left: var(--span--03); }
  .u-push--04md[class*="u-push--"] { margin-left: var(--span--04); }
  .u-push--05md[class*="u-push--"] { margin-left: var(--span--05); }
  .u-push--06md[class*="u-push--"] { margin-left: var(--span--06); }
  .u-push--07md[class*="u-push--"] { margin-left: var(--span--07); }
  .u-push--08md[class*="u-push--"] { margin-left: var(--span--08); }
  .u-push--09md[class*="u-push--"] { margin-left: var(--span--09); }
  .u-push--10md[class*="u-push--"] { margin-left: var(--span--10); }
  .u-push--11md[class*="u-push--"] { margin-left: var(--span--11); }
  .u-push--12md[class*="u-push--"] { margin-left: var(--span--12); }
}

@media (--bp-min--lg) {
  .u-push--01lg[class*="u-push--"] { margin-left: var(--span--01); }
  .u-push--02lg[class*="u-push--"] { margin-left: var(--span--02); }
  .u-push--03lg[class*="u-push--"] { margin-left: var(--span--03); }
  .u-push--04lg[class*="u-push--"] { margin-left: var(--span--04); }
  .u-push--05lg[class*="u-push--"] { margin-left: var(--span--05); }
  .u-push--06lg[class*="u-push--"] { margin-left: var(--span--06); }
  .u-push--07lg[class*="u-push--"] { margin-left: var(--span--07); }
  .u-push--08lg[class*="u-push--"] { margin-left: var(--span--08); }
  .u-push--09lg[class*="u-push--"] { margin-left: var(--span--09); }
  .u-push--10lg[class*="u-push--"] { margin-left: var(--span--10); }
  .u-push--11lg[class*="u-push--"] { margin-left: var(--span--11); }
  .u-push--12lg[class*="u-push--"] { margin-left: var(--span--12); }
}

@media (--bp-min--xl) {
  .u-push--01xl[class*="u-push--"] { margin-left: var(--span--01); }
  .u-push--02xl[class*="u-push--"] { margin-left: var(--span--02); }
  .u-push--03xl[class*="u-push--"] { margin-left: var(--span--03); }
  .u-push--04xl[class*="u-push--"] { margin-left: var(--span--04); }
  .u-push--05xl[class*="u-push--"] { margin-left: var(--span--05); }
  .u-push--06xl[class*="u-push--"] { margin-left: var(--span--06); }
  .u-push--07xl[class*="u-push--"] { margin-left: var(--span--07); }
  .u-push--08xl[class*="u-push--"] { margin-left: var(--span--08); }
  .u-push--09xl[class*="u-push--"] { margin-left: var(--span--09); }
  .u-push--10xl[class*="u-push--"] { margin-left: var(--span--10); }
  .u-push--11xl[class*="u-push--"] { margin-left: var(--span--11); }
  .u-push--12xl[class*="u-push--"] { margin-left: var(--span--12); }
}
