/*

  SPACINGS

  m/p = margin/padding
  a/t/r/b/l = all/top/right/bottom/left
  01-10 = scale

*/

.mt01 { margin-top: var(--spacing--01); }
.mt02 { margin-top: var(--spacing--02); }
.mt03 { margin-top: var(--spacing--03); }
.mt04 { margin-top: var(--spacing--04); }
.mt05 { margin-top: var(--spacing--05); }
.mt06 { margin-top: var(--spacing--06); }
.mt07 { margin-top: var(--spacing--07); }
.mt08 { margin-top: var(--spacing--08); }
.mt09 { margin-top: var(--spacing--09); }
.mt10 { margin-top: var(--spacing--10); }

.mr01 { margin-right: var(--spacing--01); }
.mr02 { margin-right: var(--spacing--02); }
.mr03 { margin-right: var(--spacing--03); }
.mr04 { margin-right: var(--spacing--04); }
.mr05 { margin-right: var(--spacing--05); }
.mr06 { margin-right: var(--spacing--06); }
.mr07 { margin-right: var(--spacing--07); }
.mr08 { margin-right: var(--spacing--08); }
.mr09 { margin-right: var(--spacing--09); }
.mr10 { margin-right: var(--spacing--10); }

.mb01 { margin-bottom: var(--spacing--01); }
.mb02 { margin-bottom: var(--spacing--02); }
.mb03 { margin-bottom: var(--spacing--03); }
.mb04 { margin-bottom: var(--spacing--04); }
.mb05 { margin-bottom: var(--spacing--05); }
.mb06 { margin-bottom: var(--spacing--06); }
.mb07 { margin-bottom: var(--spacing--07); }
.mb08 { margin-bottom: var(--spacing--08); }
.mb09 { margin-bottom: var(--spacing--09); }
.mb10 { margin-bottom: var(--spacing--10); }

.ml01 { margin-left: var(--spacing--01); }
.ml02 { margin-left: var(--spacing--02); }
.ml03 { margin-left: var(--spacing--03); }
.ml04 { margin-left: var(--spacing--04); }
.ml05 { margin-left: var(--spacing--05); }
.ml06 { margin-left: var(--spacing--06); }
.ml07 { margin-left: var(--spacing--07); }
.ml08 { margin-left: var(--spacing--08); }
.ml09 { margin-left: var(--spacing--09); }
.ml10 { margin-left: var(--spacing--10); }

.pa01 { padding: var(--spacing--01); }
.pa02 { padding: var(--spacing--02); }
.pa03 { padding: var(--spacing--03); }
.pa04 { padding: var(--spacing--04); }
.pa05 { padding: var(--spacing--05); }
.pa06 { padding: var(--spacing--06); }
.pa07 { padding: var(--spacing--07); }
.pa08 { padding: var(--spacing--08); }
.pa09 { padding: var(--spacing--09); }
.pa10 { padding: var(--spacing--10); }

.pt01 { padding-top: var(--spacing--01); }
.pt02 { padding-top: var(--spacing--02); }
.pt03 { padding-top: var(--spacing--03); }
.pt04 { padding-top: var(--spacing--04); }
.pt05 { padding-top: var(--spacing--05); }
.pt06 { padding-top: var(--spacing--06); }
.pt07 { padding-top: var(--spacing--07); }
.pt08 { padding-top: var(--spacing--08); }
.pt09 { padding-top: var(--spacing--09); }
.pt10 { padding-top: var(--spacing--10); }

.pr01 { padding-right: var(--spacing--01); }
.pr02 { padding-right: var(--spacing--02); }
.pr03 { padding-right: var(--spacing--03); }
.pr04 { padding-right: var(--spacing--04); }
.pr05 { padding-right: var(--spacing--05); }
.pr06 { padding-right: var(--spacing--06); }
.pr07 { padding-right: var(--spacing--07); }
.pr08 { padding-right: var(--spacing--08); }
.pr09 { padding-right: var(--spacing--09); }
.pr10 { padding-right: var(--spacing--10); }

.pb01 { padding-bottom: var(--spacing--01); }
.pb02 { padding-bottom: var(--spacing--02); }
.pb03 { padding-bottom: var(--spacing--03); }
.pb04 { padding-bottom: var(--spacing--04); }
.pb05 { padding-bottom: var(--spacing--05); }
.pb06 { padding-bottom: var(--spacing--06); }
.pb07 { padding-bottom: var(--spacing--07); }
.pb08 { padding-bottom: var(--spacing--08); }
.pb09 { padding-bottom: var(--spacing--09); }
.pb10 { padding-bottom: var(--spacing--10); }

.pl01 { padding-left: var(--spacing--01); }
.pl02 { padding-left: var(--spacing--02); }
.pl03 { padding-left: var(--spacing--03); }
.pl04 { padding-left: var(--spacing--04); }
.pl05 { padding-left: var(--spacing--05); }
.pl06 { padding-left: var(--spacing--06); }
.pl07 { padding-left: var(--spacing--07); }
.pl08 { padding-left: var(--spacing--08); }
.pl09 { padding-left: var(--spacing--09); }
.pl10 { padding-left: var(--spacing--10); }
