/* COLUMNS */

[class*="col-"] {
  display: block;
  float: left;
  padding: var(--grid-gutter-v) var(--grid-gutter-h);
}

.col-01 { width: var(--width-01of12); }
.col-02 { width: var(--width-02of12); }
.col-03 { width: var(--width-03of12); }
.col-04 { width: var(--width-04of12); }
.col-05 { width: var(--width-05of12); }
.col-06 { width: var(--width-06of12); }
.col-07 { width: var(--width-07of12); }
.col-08 { width: var(--width-08of12); }
.col-09 { width: var(--width-09of12); }
.col-10 { width: var(--width-10of12); }
.col-11 { width: var(--width-11of12); }
.col-12 { width: var(--width-12of12); }

@media (--breakpoint--s) {
  [class*="col-"] { padding: var(--grid-gutter-v--s) var(--grid-gutter-h--s); }

  .col-01--s[class*="col-"] { width: var(--width-01of12); }
  .col-02--s[class*="col-"] { width: var(--width-02of12); }
  .col-03--s[class*="col-"] { width: var(--width-03of12); }
  .col-04--s[class*="col-"] { width: var(--width-04of12); }
  .col-05--s[class*="col-"] { width: var(--width-05of12); }
  .col-06--s[class*="col-"] { width: var(--width-06of12); }
  .col-07--s[class*="col-"] { width: var(--width-07of12); }
  .col-08--s[class*="col-"] { width: var(--width-08of12); }
  .col-09--s[class*="col-"] { width: var(--width-09of12); }
  .col-10--s[class*="col-"] { width: var(--width-10of12); }
  .col-11--s[class*="col-"] { width: var(--width-11of12); }
  .col-12--s[class*="col-"] { width: var(--width-12of12); }
}

@media (--breakpoint--m) {
  [class*="col-"] { padding: var(--grid-gutter-v--m) var(--grid-gutter-h--m); }

  .col-01--m[class*="col-"] { width: var(--width-01of12); }
  .col-02--m[class*="col-"] { width: var(--width-02of12); }
  .col-03--m[class*="col-"] { width: var(--width-03of12); }
  .col-04--m[class*="col-"] { width: var(--width-04of12); }
  .col-05--m[class*="col-"] { width: var(--width-05of12); }
  .col-06--m[class*="col-"] { width: var(--width-06of12); }
  .col-07--m[class*="col-"] { width: var(--width-07of12); }
  .col-08--m[class*="col-"] { width: var(--width-08of12); }
  .col-09--m[class*="col-"] { width: var(--width-09of12); }
  .col-10--m[class*="col-"] { width: var(--width-10of12); }
  .col-11--m[class*="col-"] { width: var(--width-11of12); }
  .col-12--m[class*="col-"] { width: var(--width-12of12); }
}

@media (--breakpoint--l) {
  [class*="col-"] { padding: var(--grid-gutter-v--l) var(--grid-gutter-h--l); }

  .col-01--l[class*="col-"] { width: var(--width-01of12); }
  .col-02--l[class*="col-"] { width: var(--width-02of12); }
  .col-03--l[class*="col-"] { width: var(--width-03of12); }
  .col-04--l[class*="col-"] { width: var(--width-04of12); }
  .col-05--l[class*="col-"] { width: var(--width-05of12); }
  .col-06--l[class*="col-"] { width: var(--width-06of12); }
  .col-07--l[class*="col-"] { width: var(--width-07of12); }
  .col-08--l[class*="col-"] { width: var(--width-08of12); }
  .col-09--l[class*="col-"] { width: var(--width-09of12); }
  .col-10--l[class*="col-"] { width: var(--width-10of12); }
  .col-11--l[class*="col-"] { width: var(--width-11of12); }
  .col-12--l[class*="col-"] { width: var(--width-12of12); }
}

@media (--breakpoint--x) {
  [class*="col-"] { padding: var(--grid-gutter-v--x) var(--grid-gutter-h--x); }

  .col-01--x[class*="col-"] { width: var(--width-01of12); }
  .col-02--x[class*="col-"] { width: var(--width-02of12); }
  .col-03--x[class*="col-"] { width: var(--width-03of12); }
  .col-04--x[class*="col-"] { width: var(--width-04of12); }
  .col-05--x[class*="col-"] { width: var(--width-05of12); }
  .col-06--x[class*="col-"] { width: var(--width-06of12); }
  .col-07--x[class*="col-"] { width: var(--width-07of12); }
  .col-08--x[class*="col-"] { width: var(--width-08of12); }
  .col-09--x[class*="col-"] { width: var(--width-09of12); }
  .col-10--x[class*="col-"] { width: var(--width-10of12); }
  .col-11--x[class*="col-"] { width: var(--width-11of12); }
  .col-12--x[class*="col-"] { width: var(--width-12of12); }
}
