/* ITEMS */

.item { margin-bottom: var(--grid-gutter-v); }
.item:last-child { margin-bottom: 0; }
.item > *:last-child { margin-bottom: 0; }

@media (--breakpoint--s) { .item { margin-bottom: var(--grid-gutter-v--s); } }
@media (--breakpoint--m) { .item { margin-bottom: var(--grid-gutter-v--m); } }
@media (--breakpoint--l) { .item { margin-bottom: var(--grid-gutter-v--l); } }
@media (--breakpoint--x) { .item { margin-bottom: var(--grid-gutter-v--x); } }
