/* SHIFTS */

.shf-01 { margin-left: var(--width-01of12); }
.shf-02 { margin-left: var(--width-02of12); }
.shf-03 { margin-left: var(--width-03of12); }
.shf-04 { margin-left: var(--width-04of12); }
.shf-05 { margin-left: var(--width-05of12); }
.shf-06 { margin-left: var(--width-06of12); }
.shf-07 { margin-left: var(--width-07of12); }
.shf-08 { margin-left: var(--width-08of12); }
.shf-09 { margin-left: var(--width-09of12); }
.shf-10 { margin-left: var(--width-10of12); }
.shf-11 { margin-left: var(--width-11of12); }

@media (--breakpoint--s) {
  .shf-01--s, .shf-01--s[class*="shf"] { margin-left: var(--width-01of12); }
  .shf-02--s, .shf-02--s[class*="shf"] { margin-left: var(--width-02of12); }
  .shf-03--s, .shf-03--s[class*="shf"] { margin-left: var(--width-03of12); }
  .shf-04--s, .shf-04--s[class*="shf"] { margin-left: var(--width-04of12); }
  .shf-05--s, .shf-05--s[class*="shf"] { margin-left: var(--width-05of12); }
  .shf-06--s, .shf-06--s[class*="shf"] { margin-left: var(--width-06of12); }
  .shf-07--s, .shf-07--s[class*="shf"] { margin-left: var(--width-07of12); }
  .shf-08--s, .shf-08--s[class*="shf"] { margin-left: var(--width-08of12); }
  .shf-09--s, .shf-09--s[class*="shf"] { margin-left: var(--width-09of12); }
  .shf-10--s, .shf-10--s[class*="shf"] { margin-left: var(--width-10of12); }
  .shf-11--s, .shf-11--s[class*="shf"] { margin-left: var(--width-11of12); }
}

@media (--breakpoint--m) {
  .shf-01--m, .shf-01--m[class*="shf"] { margin-left: var(--width-01of12); }
  .shf-02--m, .shf-02--m[class*="shf"] { margin-left: var(--width-02of12); }
  .shf-03--m, .shf-03--m[class*="shf"] { margin-left: var(--width-03of12); }
  .shf-04--m, .shf-04--m[class*="shf"] { margin-left: var(--width-04of12); }
  .shf-05--m, .shf-05--m[class*="shf"] { margin-left: var(--width-05of12); }
  .shf-06--m, .shf-06--m[class*="shf"] { margin-left: var(--width-06of12); }
  .shf-07--m, .shf-07--m[class*="shf"] { margin-left: var(--width-07of12); }
  .shf-08--m, .shf-08--m[class*="shf"] { margin-left: var(--width-08of12); }
  .shf-09--m, .shf-09--m[class*="shf"] { margin-left: var(--width-09of12); }
  .shf-10--m, .shf-10--m[class*="shf"] { margin-left: var(--width-10of12); }
  .shf-11--m, .shf-11--m[class*="shf"] { margin-left: var(--width-11of12); }
}

@media (--breakpoint--l) {
  .shf-01--l, .shf-01--l[class*="shf"] { margin-left: var(--width-01of12); }
  .shf-02--l, .shf-02--l[class*="shf"] { margin-left: var(--width-02of12); }
  .shf-03--l, .shf-03--l[class*="shf"] { margin-left: var(--width-03of12); }
  .shf-04--l, .shf-04--l[class*="shf"] { margin-left: var(--width-04of12); }
  .shf-05--l, .shf-05--l[class*="shf"] { margin-left: var(--width-05of12); }
  .shf-06--l, .shf-06--l[class*="shf"] { margin-left: var(--width-06of12); }
  .shf-07--l, .shf-07--l[class*="shf"] { margin-left: var(--width-07of12); }
  .shf-08--l, .shf-08--l[class*="shf"] { margin-left: var(--width-08of12); }
  .shf-09--l, .shf-09--l[class*="shf"] { margin-left: var(--width-09of12); }
  .shf-10--l, .shf-10--l[class*="shf"] { margin-left: var(--width-10of12); }
  .shf-11--l, .shf-11--l[class*="shf"] { margin-left: var(--width-11of12); }
}

@media (--breakpoint--x) {
  .shf-01--x, .shf-01--x[class*="shf"] { margin-left: var(--width-01of12); }
  .shf-02--x, .shf-02--x[class*="shf"] { margin-left: var(--width-02of12); }
  .shf-03--x, .shf-03--x[class*="shf"] { margin-left: var(--width-03of12); }
  .shf-04--x, .shf-04--x[class*="shf"] { margin-left: var(--width-04of12); }
  .shf-05--x, .shf-05--x[class*="shf"] { margin-left: var(--width-05of12); }
  .shf-06--x, .shf-06--x[class*="shf"] { margin-left: var(--width-06of12); }
  .shf-07--x, .shf-07--x[class*="shf"] { margin-left: var(--width-07of12); }
  .shf-08--x, .shf-08--x[class*="shf"] { margin-left: var(--width-08of12); }
  .shf-09--x, .shf-09--x[class*="shf"] { margin-left: var(--width-09of12); }
  .shf-10--x, .shf-10--x[class*="shf"] { margin-left: var(--width-10of12); }
  .shf-11--x, .shf-11--x[class*="shf"] { margin-left: var(--width-11of12); }
}
