:root {
  --grid-max-width: 1248px;
  --grid-gutter-v: calc(32px / 2);
  --grid-gutter-h: calc(32px / 2);
  --grid-gutter-v--s: calc(32px / 2);
  --grid-gutter-h--s: calc(32px / 2);
  --grid-gutter-v--m: calc(64px / 2);
  --grid-gutter-h--m: calc(64px / 2);
  --grid-gutter-v--l: calc(96px / 2);
  --grid-gutter-h--l: calc(96px / 2);
  --grid-gutter-v--x: calc(128px / 2);
  --grid-gutter-h--x: calc(128px / 2);
  --width-01of12: calc(100% / 12);
  --width-02of12: calc((100% / 12) * 2);
  --width-03of12: 25%;
  --width-04of12: calc((100% / 12) * 4);
  --width-05of12: calc((100% / 12) * 5);
  --width-06of12: 50%;
  --width-07of12: calc((100% / 12) * 7);
  --width-08of12: calc((100% / 12) * 8);
  --width-09of12: 75%;
  --width-10of12: calc((100% / 12) * 10);
  --width-11of12: calc((100% / 12) * 11);
  --width-12of12: 100%;
}
