@charset "UTF-8";
/*

	Styles for Starrrt Docs
	Version: 0.4.0

  TODO: Add vendor prefixes

*/

body {
  font-size: 14px;
}

body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Consolas, Monaco, monospace;
  color: #151515;
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3, .u-fs--03 { font-size: 1.4em; }

a,
a:visited,
a:hover,
a:focus,
a:active {
  color: #151515;
  text-decoration: underline;
}

pre,
code {
  font-size: 0.9em;
  color: #151515;
}

/* Page */

.o-container {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #eee;
}

.c-page--left {
  position: fixed;
  width: 50%;
  height: 100vh;
  background: #383838;
  display: flex;
  align-items: center;
}

.c-page--right {
  position: relative;
  width: 50%;
  margin-left: 50%;
}

/* Header */

.c-nav__menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.c-nav__menu--pri {
  font-size: 1em;
}

.c-nav__menu--sec {
  font-size: 0.8em;
}

.c-version {
  display: inline-block;
  background: #151515;
  padding: 0.4em 0.8em 0.2em;
  color: white;
  border-radius: 20px;
  margin-bottom: 4px;
}

/* Content */

.c-content__item {
  margin-bottom: 64px;
}

/* Footer */

.c-footer {
  font-size: 0.8em;
}

.c-footer p {
  margin: 0;
}
