@charset "UTF-8";
/*

	Styles for Docs
	Version: 1.0.0-beta.7

  TODO: Add vendor prefixes

*/

body {
  padding: var(--spc--xl) 0 0;
}

.c-header {
  padding-top: calc( 1.5 * var(--spc--xxl));
  padding-bottom: var(--spc--xl);
}

.c-branding svg {
  vertical-align: top;
  margin-right: var(--spc--xxs);
}

.c-branding h1 {
  display: inline-block;
  font-size: var(--fs--lg);
  margin: 0 0 var(--spc--xs);
}

.c-branding mark {
  font-size: var(--fs--xs);
  vertical-align: top;
  margin-left: 2px;
}

.c-branding__slogan {
  font-size: var(--fs--xl);
  color: rgba(var(--rgb--subtle), 1);
}

.c-menu {
  font-size: var(--fs--xs);
}

@media screen and (min-width: 740px) {
  .c-menu {
    position: fixed;
    top: var(--spc--xl);;
    right: var(--spc--xl);;
  }
}

.c-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-menu ul li {
  margin: 0  0 var(--spc--xxs);
}

ul.c-menu__btns {
  font-size: var(--fs--xs);
  margin-top: var(--spc--md);
}

.c-menu__btns a {
  font-size: var(--fs--xs);
}

section.o-container h2 {
  font-size: var(--fs--lg);
}

.o-container--padded {
  padding: var(--spc--lg) 0;
}

.c-grid-sample-box {
  width: 100%;
  height: var(--spc--lg);
  background: rgba(var(--rgb--accent), 0.2);
  border: 1px solid rgba(var(--rgb--accent), 0.4);
  margin-bottom: var(--spc--lg);
}

.c-background-grid {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.c-background-grid .o-grid {
  height: 100%;
}

.c-background-grid .c-grid-sample-box {
  background: rgba(0, 32, 255, .03);
  border: none;
  height: 100%;
  margin-bottom: 0;
}

.c-footer {
  font-size: var(--fs--xs);
  border-bottom: none;
}
