/* BUTTONS */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 1em 1.6em;
  border: none;
  border-radius: 2px;
  font-size: 0.8em;
  cursor: pointer;
  color: var(--color--light);
  background: var(--color--secondary);
  transition: opacity 0.2s linear;
  appearance: none;

  &:hover {
    color: var(--color--light);
    opacity: 0.8;
  }
}
