/* COPY */

body {
  font-family: var(--ff--pri);
  font-size: var(--fs--md);
  font-weight: normal;
  line-height: var(--lh--base);
  color: rgba(var(--rgb--main), 1);
  background-color: rgba(var(--rgb--light), 1);
}

a,
a:visited {
  text-decoration: none;
  color: rgba(var(--rgb--accent), 1);
  transition: opacity var(--anim-dur) var(--anim-func);
}

a:hover,
a:focus,
a:active {
  opacity: var(--alpha--subtle);
}

p {
  margin: 0 0 var(--spc--md);
}

b,
strong {
  font-weight: bold;
}

em,
i,
dfn,
cite,
q {
  font-style: italic;
}

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted rgba(var(--rgb--subtler), 1);
  cursor: help;
}

abbr[title]:hover {
  opacity: var(--alpha--subtle);
}

mark,
ins,
del {
  color: rgba(var(--rgb--main), 1);
}

mark {
  background: rgba(var(--rgb--warning), var(--alpha--subtlest));
}

ins {
  text-decoration: none;
  background: rgba(var(--rgb--success), var(--alpha--subtlest));
}

del {
  text-decoration: line-through;
  background: rgba(var(--rgb--error), var(--alpha--subtlest));
}

address {
  font-style: italic;
  margin: 0 0 var(--spc--md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--spc--md);
  font-family: var(--ff--pri);
  font-weight: bold;
  word-wrap: break-word;
}

h1 { font-size: var(--fs--xxxl); line-height: var(--lh--narrow); }
h2 { font-size: var(--fs--xxl); }
h3 { font-size: var(--fs--xl); }
h4 { font-size: var(--fs--lg); }
h5 { font-size: var(--fs--md); }
h6 { font-size: var(--fs--sm); }

big,
small {
  display: inline-block;
}

big { font-size: var(--fs--lg); }
small { font-size: var(--fs--sm); line-height: var(--lh--narrow); }

blockquote {
  margin: 0 0 var(--spc--md);
  padding: var(--spc--xxs) 0 var(--spc--xs) var(--spc--sm);
  border-left: 4px solid rgba(var(--rgb--accent), 1);
  font-size: var(--fs--lg);
}

blockquote > *:only-child {
  margin-bottom: 0;
}

blockquote footer {
  font-size: var(--fs--sm);
}

pre {
  display: block;
  overflow: auto;
  max-width: 100%;
  margin: 0 0 var(--spc--md);
  padding: var(--spc--sm);
  font-family: var(--ff--code);
  background: rgba(var(--rgb--subtlest), 1);
  border-radius: var(--br);
}

code,
kbd,
samp,
var {
  font-family: var(--ff--code);
}

kbd {
  padding: .15em .2em .1em;
  background: rgba(var(--rgb--subtlest), 1);
  border: 1px solid rgba(var(--rgb--subtle), var(--alpha--subtlest));
  border-radius: var(--br);
}

hr {
  margin: var(--spc--md) 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(var(--rgb--subtle), var(--alpha--subtler));
  border-left: none;
}

::selection {
  background: rgba(var(--rgb--accent), var(--alpha--subtlest));
}
