/* COPY */

body {
  font-family: var(--font--primary);
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
  color: var(--color--primary);
  background-color: var(--color--light);
}

a,
a:visited {
  text-decoration: none;
  color: var(--color--secondary);
  transition: opacity 0.2s linear;
}

a:hover,
a:focus,
a:active {
  outline: 0;
  opacity: 0.7;
}

p {
  margin-top: 0.4em;
  margin-bottom: 1.2em;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

address {
  margin-bottom: var(--spacing--04);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
  font-family: var(--font--primary);
  font-weight: bold;
  line-height: 1.4;
  word-wrap: break-word;

  & a,
  & a:visited,
  & a:hover {
    color: var(--color--primary);
  }

  & a:hover,
  & a:focus,
  & a:active {
    opacity: 0.7;
  }
}

h1 { font-size: var(--font-scale--01); }
h2 { font-size: var(--font-scale--02); }
h3 { font-size: var(--font-scale--03); }
h4 { font-size: var(--font-scale--04); }
h5 { font-size: var(--font-scale--05); }
h6 { font-size: var(--font-scale--06); }

small { font-size: var(--font-scale--06); }
big { font-size: var(--font-scale--04); }

blockquote,
q {
  clear: both;
  margin: 0 0 var(--spacing--04);
  padding-left: var(--spacing--03);
  border-left: 4px solid var(--color--subtle-light);
  font-size: var(--font-scale--03);
  word-wrap: break-word;
}

pre {
  overflow: auto;
  max-width: 100%;
  margin-bottom: var(--spacing--04);
  padding: var(--spacing--03);
  font-family: var(--font--code);
  font-size: 0.8em;
  color: var(--color--primary);
  background: var(--color--subtle-light);
}

code,
kbd,
tt,
var {
  padding: 0.2em;
  font-family: var(--font--code);
  font-size: var(--font-scale--06);
  background: var(--color--subtle-light);
}

abbr,
acronym {
  border-bottom: 1px dotted var(--color--subtle-light);
  cursor: help;
}

mark,
ins {
  text-decoration: none;
  color: var(--color--primary);
  background: var(--color--subtle-light);
}

hr {
  margin: var(--spacing--04) 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid var(--color--subtle-light);
  border-left: none;
}
