/* FORMS */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  padding: 1em;
  border: 1px solid var(--color--subtle);
  border-radius: 2px;
  font-family: var(--font--primary);
  font-size: 0.8em;
  color: var(--color--primary);
  appearance: none;

  &:focus {
    border: 1px solid var(--color--secondary);
    outline: none;
    color: var(--color--primary);
  }
}

select {
  border: 1px solid var(--color--subtle-light);
}

textarea {
  width: 100%;
  resize: vertical;
}
