/* LISTS */

ul,
ol {
  margin: 0 0 var(--spc--md);
  padding-left: var(--fs--lg);
  line-height: var(--lh--wide);
}

ul { list-style: disc; }
ol { list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
}

dl { margin-bottom: var(--spc--md); }
dt { font-weight: bold; }
dd { margin: 0 0 var(--spc--xs) var(--spc--xs); }
