/* TABLES */

table {
  width: 100%;
  margin: 0 0 var(--spc--md);
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
  vertical-align: middle;
}

th {
  padding: var(--spc--xs);
  border-bottom: 1px solid rgba(var(--rgb--subtler), 1);
  font-weight: bold;
}

tr:nth-child(even) {
  background: rgba(var(--rgb--subtlest), 1);
}

td {
  padding: var(--spc--xs);
  border-bottom: 1px solid rgba(var(--rgb--subtlest), 1);
}
